.card{
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 10px #f3f3f3;
}

.card-body{
    img{
        width: 100%;
    }
    h2{
        padding: 15px 0;
        text-transform: capitalize;
        background-color: #f3f3f3;
        text-align: center;
    }
    .wrapper{
        width: 100%;
        p{
            margin: 10px 15px;
            span{
                width: 50%;
                display: inline-block;
            }
            span.right{
                text-align: right;
            }
        }
    }
}
